@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');
:root{
    --dark-color: #1F2937;
    --button-color: #3882F6;
    --light-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;

}
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 15%;
    align-items: center;
    background-color: var(--dark-color);
}

.header_logo{
    color: var(--light-color);
    font-size: 24px;
    font-weight: 500;
}
.header_links{
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-left: 15px;
    font-size: 18px;
    font-weight: 300;
    
}
.header_links:hover{
    text-decoration: underline;
}
.main_section{
    display: flex;
    justify-content: space-between;
    padding: 8% 15%;
    align-items: center;
    background-color: var(--dark-color);
}
.main_section__left{
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.main_section__title{
    color: var(--light-color);
    font-size: 48px;
    font-weight: 900;
}
.main_section__text{
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 300;
}

.main_section__button{
    width: 8em;
    height: 2em;
    color: var(--light-color);
    background-color: var(--button-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;

}
.main_section__image{
    background: #6d747e;
    width: 500px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_section__image__placeholder{
    color: var(--light-color);
}

/* Second section */
.secondary_section{
    background-color: var(--light-color);
    padding: 1.5em;
    padding-bottom: 4em;
}
.secondary_section__title{
    text-align: center;
    padding-bottom: 1.5em;
    color: var(--dark-color);
    font-size: 36px;
}
.secondary_section__images{
    display: flex;
    justify-content: center;
    gap: 2.5em;

}
.image_frame{
    width: 150px;
    height: 150px;
    border: 3px solid var(--button-color);
    border-radius: 10px;
}
.secondary_section__image_description{
    width: 10vw;
    text-align: center;
    color: #48505b;
    margin-top: 10px;
}
/*Third section*/
.third_section{
    padding: 5% 29%;
    background: var(--secondary-text-color);
}
.third_section__bq{
    display: flex;
    flex-direction: column;
}
.third_section__quote{
    font-size: 36px;
    color: var(--dark-color);
    font-weight: light;
    font-style: italic;
}
.third_section__quote_cite{
   align-self: flex-end;
   font-size: 26px;
   font-weight: 500;
   font-style: normal;
}
/* Sing up section*/
.singup_section{
    padding: 4% 18%;

}
.singup_section__card{
    background: var(--button-color);
    border-radius: 10px;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    color: var(--light-color);
}

.singup_section__card_button{
    width: 120px;
    color: var(--light-color);
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid var(--light-color);
    background-color: transparent;
}
.singup_section__card_button:hover{
    background-color: #3a598b;
    cursor: pointer;
}
.page_footer{
    background: var(--dark-color);
    color: var(--light-color);
    padding: 3% 30%;
    text-align: center;
    font-size: 18px;
}